<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notashare</title>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
    <!-- header + navbar -->
    <header>
        <nav class = "navigation-bar"> 
            <a class = "logo">Notashare</a>
            <div>
                <a>🛈 เกี่ยวกับเรา</a>
                <a>โน็ตสรุป</a>
                <a>แชร์โน็ต</a>
            </div>
            <!-- use for mobile -->
            <a class = "drop-down-nav">≡</a>
        </nav>
    </header>
    <!-- section1 -->
    <section class = "section-1">
        <div class = "paragraph">
            <h1> ค้นพบบันทึก<br>บทเรียนที่ดีที่สุด</h1>
            <p>แพลตฟอร์มแชร์โน๊ตที่ดีที่สุด</p>
            <button>เพิ่มโน้ต</button>
        </div>
        <img src="../assets/stacked book.png">
    </section>
    <!-- section2 -->
    <!-- <section style = "display:flex">
        <div class = "hi">
            <h1>ทวนบทเรียนจากโน้ตของเพื่อน </h1>
            <p>เรียนรู้บทเรียนแบบกระชับ หัวข้อที่สำคัญๆประหยัดเวลาในการอ่านเอง</p>
            <a>ดูโน้ตสรุป</a>
        </div>
        <img src="">
    </section> -->
    <!-- section3 -->
    <!-- <section style = "display:flex">
        <div class = "hi">
            <h1> ค้นพบบันทึกบทเรียนที่ดีที่สุด</h1>
            <p>แพลตฟอร์มแชร์โน๊ตที่ดีที่สุด</p>
            <a>เพิ่มโน้ต</a>
        </div>
        <img src="">
    </section> -->
    <!-- example note -->
    <!-- <section>
        <h1>ตัวอย่างโน้ต</h1>
        <div style = "display:flex">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </section> -->
    <!-- ดูสมุดโน้ต -->
    <!-- <section>
        <h1>ดูสมุดโน้ต</h1>
        <div style = "display:flex">
            <button>ประถมศึกษา</button>
            <button>มัธยมต้น</button>
        </div>
        <div style = "display:flex">
            <button>มัธยมปลาย</button>
            <button>มหาวิทยาลัย</button>
        </div>
    </section> -->
    <!-- footer -->
    <!-- <footer>
        <h1>Contact</h1>
        <div style = "display:flex">
            <button>Email</button>
            <button>LinkedIn</button>
            <button>Instragram</button>
            <button>Twitter</button>
        </div> 
    </footer> -->
    
    
</body>
</html>